
    <section class="content" id="footer">
      <div class="container text-center text-white py-5">
        <div class="row">
          <div class="col-md-4">
            <h4 class="py-3"> LOCATION</h4>
            <p class="fs-5 py-1">
              2215 John DanielDrive
              <br />
              Clark, MO 65243
            </p>
          </div>
          <div class="col-md-4">
            <h4 class="py-3">AROUND THE WEB</h4>


            <div class="icon py-1" >
              <a href="http://google.com" class= "px-1">
                <i class="btnSocial fab fa-facebook-f  fs-5 btn btn-outline-light rounded-circle"></i>
              </a>
              <a href="http://google.com" class="px-1">
                <i class="btnSocial fab fa-twitter  fs-5 btn btn-outline-light  rounded-circle"></i>
              </a>
              <a href="http://google.com" class="px-1">
                <i class="btnSocial fab fa-linkedin-in  fs-5 btn btn-outline-light rounded-circle"></i>
              </a>
              <a href="http://google.com" class="px-1">
                <i class="style.btnSocial fab fa-github fs-5 btn btn-outline-light rounded-circle"></i>
              </a>
            </div>


          </div>
          <div class="col-md-4">
            <h4 class="py-3">ABOUT FREELANCER</h4>
            <p class="fs-5  py-1">
              Freelance is a free to use, MIT licensed Bootstrap theme created
              by .
            </p>
          </div>
        </div>
      </div>
      <div class="copyRight py-4 text-white text-center">
        Copyright © Your Website 2023
      </div>
    </section>
