@import '../../styles.scss';

.navbar-light .navbar-nav .nav-link{
color:$fontColor;
}
.mine{
    font-size: 1.2rem !important;
    background-color:#131313;
}
.mine a {
    color: rgba(255, 255, 255, 0.692);
}
.logo{
    color: rgb(243, 241, 241) !important;
    font-size: 2rem;

}
.mine a:hover{
    color:#fff;
}

