.tagline{
    color: rgb(172, 172, 172) !important;
  }
  .tagline:last-child{
    line-height: 30px !important;
  }
  .btn-warning{
    cursor: auto !important;
  }
  .last{
    cursor: pointer !important;
    margin-top: 30px;
    background-color: #b9c2cf;
    color: rgb(92, 83, 83);
  }
  .last:hover{
   color: #b9c2cf;
   background-color: rgb(92, 83, 83);


  }

  .details{
    p{
      margin: 30px 0px;
      font-size: 25px;
    }
  }
  .overview{
    font-size: 17px !important;
    line-height: 23px;
  }
  .full{
    min-height: 78vh;
  }
  .container{
    min-height: 83.1vh;
  }
  img{
    height: 700px;
    // width: 430px !important;
  }