<div class="container mt-5">
    <div class="row justify-content-between">
        <div class="col-md-8">
            <h1>Registeration Form </h1>
            <form  [formGroup]="registerForm" (ngSubmit)="submitregisterForm()">
                <div class="py-2">
                    <label>First Name</label>
                    <input class="form-control" type="text" formControlName="first_name">
                    <div *ngIf="registerForm.controls['first_name'].invalid&&registerForm.controls['first_name'].touched"
                        class="text-danger mt-2">
                        <li *ngIf="registerForm.controls['first_name'].errors?.['required']"> First name is required</li>
                        <li *ngIf="registerForm.controls['first_name'].errors?.['minlength']"> First name min length 3
                        </li>
                        <li *ngIf="registerForm.controls['first_name']?.errors?.['maxlength']"> First name max length 10
                        </li>
                    </div>
                </div>
                <div class="py-2 mt-2">
                    <label>Last Name</label>
                    <input class="form-control" type="text" formControlName="last_name">
                    <div *ngIf="registerForm.controls['last_name'].invalid&&registerForm.controls['last_name'].touched"
                        class="text-danger mt-2">
                        <li *ngIf="registerForm.controls['last_name'].errors?.['required']">Last name is required</li>
                        <li *ngIf="registerForm.controls['last_name'].errors?.['minlength']">Last name is minlength 3</li>
                        <li *ngIf="registerForm.controls['last_name'].errors?.['maxlength']">Last name is maxlength 10
                        </li>
                    </div>
                </div>
                <div class="py-2 mt-2">
                    <label>Email</label>
                    <input class="form-control" type="email" formControlName="email">
                    <div *ngIf="registerForm.controls['email'].invalid&&registerForm.controls['email'].touched"
                        class="text-danger mt-2">
                        <li *ngIf="registerForm.controls['email'].errors?.['required']">Email is required</li>
                        <li *ngIf="registerForm.controls['email'].errors?.['email']">Email not valid </li>
                    </div>
                </div>
                <div class="py-2 mt-2">
                    <label>Password</label>
                    <input class="form-control" type="password" formControlName="password">
                    <div *ngIf="registerForm.controls['password'].invalid&&registerForm.controls['password'].touched"
                        class="text-danger mt-2">
                        <li *ngIf="registerForm.controls['password'].errors?.['required']">Password is required</li>
                        <li *ngIf="registerForm.controls['password'].errors?.['password']">Password not valid</li>
                    </div>
                </div>
                <button type="submit" [disabled]="registerForm.invalid" class="btn btn-light my-3 ">Register</button>
            </form>
        </div>

        <div class="col-md-4 text-center">
            <img src="assets/registr.png" class="img404 py-5" alt='404' />
        </div>
 
    </div>

</div>